*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* background: repeating-linear-gradient(55deg, #c8d2fcaa, #000022aa 5%); */
  background: radial-gradient(circle at 50%, #333, #333 30%, #eee 45%, #333 45%);
}

.App {
  height: 100vh;
  width: 100%;
  
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 80vh;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(80px, auto) repeat(5, 80px);
}

.calculator-grid > button {
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  border: 1px solid white;
  background-color: #00AFF0AA;
  margin: 3px;
}

.calculator-grid > button:hover {
  background-color: #AA0000AA;
}

.span-two{
  grid-column: span 2;
}

.output{
  grid-column:  1/-1;
  margin-bottom: .5rem;
  background-color: #00AAFFAA;
  display: flex;
  border-radius: 1rem;
  align-items: flex-end;
  align-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .prev-operand{
color: black;
font-size: 1.5rem;
}

.output .current-operand{
color: salmon;
font-size: 2rem;
}